---
layout: default
title: home
---

{% if page.url == "/" %}

{% endif %}





<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

<b id="iska2-title">New Post</b>
        <div id="iska2-grid-container">
    {% for post in site.categories.united-arab-emirates limit: 10 %}
    <div class="iska2-grid-item">
        <a href="{{ post.url }}">
            <img src="{{ post.image }}" alt="{{ post.title }}">
        </a>
     <a href="{{ post.url }}" class="iska2-title">   <h5>{{ post.title }}</h5>
    </a>
    </div>
    {% endfor %}
</div>
    </div>

    
</section>


<dic class="spo"><br><br><br><br><br>
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

</div>



<br><br>





